* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

body {
    background-color: #014b7e;
    font-family: stratosskyeng-semilight;
}

.center {
    padding-left: calc(50% - 600px);
    padding-right: calc(50% - 600px);
}

.common-block {
    width: 460px;
    background-color: #c3f5fe;
    margin-top: 158px;
    margin-right: 272px;
    margin-left: 272px;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.common-text {
    font-size: 56px;
    font-weight: 200;
    text-align: center;
    color: #014b7e;
    padding-top: 32px;
    padding-bottom: 48px;
}

.common-options {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 24px;
    margin-bottom: 67px;
}

.select-border {
    border: 4px solid #0080c1;
}

.item {
    width: 100px;
    height: 100px;
    font-size: 64px;
    background-color: #fff;
    border-radius: 16px;
    box-sizing: border-box;
    color: #0582be;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.item:hover {
    box-shadow: 0 5px 15px rgb(0 0 0 / 40%);
}

.input {
    appearance: none;
}

.start-button {
    width: 246px;
    height: 50px;
    color: #fff;
    background-color: #7ac100;
    border: none;
    border-radius: 16px;
    box-shadow: 0 5px 15px rgb(0 0 0 / 40%);
    font-family: stratosskyeng-semilight;
    font-weight: 100px;
    font-size: 24px;
    margin-bottom: 64px;
}

/* second screen */

.header-game {
    margin-top: 52px;
    margin-bottom: 46px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 16px;
}

.timer {
    font-weight: 400;
    font-size: 64px;
    color: #fff;
}

.restart-button {
    width: 246px;
    height: 48px;
    font-family: stratosskyeng-semilight;
    font-weight: 40px;
    font-size: 24px;
    color: #fff;
    background-color: #7ac100;
    padding: 10px 36px;
    border: none;
    border-radius: 12px;
}

.cards {
    display: grid;
    justify-content: space-around;
    grid-template-columns: repeat(9, 1fr);
    gap: 16px;
}

.back-card {
    background-image: url("img/back.jpg");
}

.game-table {
    max-width: 900px;
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: center;
}

.game-card {
    width: 95px;
    height: 133px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: white;
    background-image: url("img/back.jpg");
    border-radius: 5px;
    transition: all 0.2s linear;
    margin: 1%;
}

.game-card i {
    font-size: 40px;
    display: none;
}

.game-card i + i {
    display: block;
}

.game-card.flip {
    background: #5dc6ff !important;
    transform: perspective(100px) rotateY(180deg);
}

.game-card.flip i {
    display: block;
}

.game-card.flip i + i {
    display: none;
}

.game-card.successfully {
    background: #76db82 !important;
}

.game-card:hover {
    background: #d1d1c0;
}

/* шрифт */
@font-face {
    font-family: stratosskyeng-semilight;
    src: url("../fonts/Desktop_fonts/stratosskyeng-semilight.otf");
    font-style: normal;
    font-weight: normal;
}
